@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

* {
  box-sizing: border-box;
}
  
html {
  font-size: 10px;
}

body {
  height: 100%;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin: 0;
}

#root {
  height: 100vh;
}

.header {
  height: 70px;
  background-color: var(--secondary-color);
  color: #fff;
}

.submit-button {
  font-size: 1.6rem;
  padding: 6px 12px;
}

.grid{
  display: grid;
}

  /* font weights */
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}
.fw-9{font-weight: 900;}

/* font sizes */
.fs-15{font-size: 1.5rem;}
.fs-16{font-size: 1.6rem;}
.fs-17{font-size: 1.7rem;}
.fs-18{font-size: 1.8rem;}
.fs-20{font-size: 2rem;}
.fs-22{font-size: 2.2rem;}
.fs-24{font-size: 2.4rem;}
.fs-26{font-size: 2.6rem;}

/* margin top */
.mt-15{margin-top: 24rem;}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.loader {
  margin-top: 20rem;
}

.book-item {
  background-color: var(--secondary-color);
  padding: 3rem 2rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.book-item:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
 
img {
  width: 100%;
  height: 250px;
  display: block;
  max-height: 250px;
  margin: 0 auto;
}

.book-item-img img {
  max-width: 180px;
  margin-left: auto;
  margin-left: auto;
}

.book-item-info {
  margin-top: 2rem;
}

.book-item-info-item.title{
  line-height: 1.4;
  margin-bottom: 0.8rem;
}

.book-item-info-item.author{
  line-height: 1.4;
  margin-bottom: 4px;
}

.booklist-content {
  max-height: 100%;
  gap: 2rem;
}

@media screen and (min-width: 600px){
  .booklist-content{
      grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (min-width: 992px){
  .booklist-content{
      grid-template-columns: repeat(5, 1fr);
  }

  .book-item-img img{
      max-width: 180px;
      margin-top: auto;
      margin-bottom: auto;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  justify-self: end;
}

.pagination-item {
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  padding: 8px 16px;
}

.active-page {
  background-color: var(--secondary-color);
}

.pagination-item:hover {
  color: #fff;
  background-color: var(--secondary-color);
  border-radius: 5px;
}
