@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
  }

  * {
    box-sizing: border-box;
  }
  
  #root {
    height: 100%;
  }

  body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0;
    height: 100%;
  }

  .header {
    height: 70px;
    background-color: var(--secondary-color);
    color: #fff;
  }
 
  .book-card {
    background-color: var(--secondary-color);
    padding: 1rem;
    height: 500px;
  }

  .controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .page-select {
    width: 80px;
  }

